/* Fuente Alta */
@font-face {
    font-family: 'Alta';
    src: url('/fonts/alta/Alta_regular.woff2') format('woff2'),
         url('/fonts/alta/Alta_regular.woff') format('woff'),
         url('/fonts/alta/alta-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* Fuente Optima */
  @font-face {
    font-family: 'Optima';
    src: url('/fonts/optima/OptimaMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Raleway - optimizado para performance */
@font-face {
  font-family: 'Raleway';
  src: url('/fonts/ralewey/raleway-v36-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Fuente Roboto Condensed */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYag.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2') format('woff2');
}

