/* Fuente Alta */
@font-face {
    font-family: 'Alta';
    src: url('../fonts/alta/Alta_regular.woff2') format('woff2'),
         url('../fonts/alta/Alta_regular.woff') format('woff'),
         url('../fonts/alta/alta-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* Fuente Optima */
  @font-face {
    font-family: 'Optima';
    src: url('../fonts/optima/OptimaMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* raleway-regular */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/ralewey/raleway-v36-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
  
}

  
  /* Fuente Roboto Condensed (de Google Fonts) */
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

